# KiCAD
# *.pro linguist-detectable=true
*.kicad_pcb linguist-detectable=true
*.sch linguist-detectable=true

# Gerbers
#pcb/phone_rtty_rev_a/gerbers/* linguist-detectable=true
#pcb/phone_rtty_rev_b/gerbers/* linguist-detectable=true

# LTspice
ltspice/* linguist-detectable=true

# Others
# ltspice/* linguist-detectable=true
# pcb/* linguist-detectable=true
